.movie {
  color: white;
  position: relative;
}

.movie img{
    width: 350px;
    z-index: 1;
}

.title{
    padding: 10px;
    width: 300px;
}

.movie p{
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #f0f0f0; 
}

.movie strong{
    color: #ff6347; 
}


