@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
}

a{
    color: white;
    text-decoration: none;
}

body{
    min-height: 100vh;
background: linear-gradient(150deg,
  rgba(1, 58, 99, 1) 0%,
  rgba(2, 95, 119, 1) 47%,
  rgba(2, 128, 144, 1) 66%,
  rgba(0, 120, 120, 1) 85%,
  rgba(0, 100, 90, 1) 100%);

}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}


/* Chrome, Safari, Edge */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #002d31;
}

body::-webkit-scrollbar-thumb {
  background-color: #2cacccc0; /* color of the scroll thumb */
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #002d31;
}

.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 20rem !important;
  height: 37rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 40rem;
  height: 37rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}


