.input_container {
    margin: 10px;
}

.input_container input {
    padding: 10px 20px;
    border-radius: 12px;
    border: 5px solid lightpink;
    outline: none;
    transition: border-color 0.4s;
}

.input_container input::placeholder {
    opacity: 1;
    transition: opacity 0.4s;

}

.input_container input:focus::placeholder {
    opacity: 0;
}

.input_container input:valid {
    border-color: lightblue;
}

input[type="submit"] {
    padding: 10px 20px;
    margin: 10px;
    background-color: lightblue;
    transition: 0.4s;
    border: 5px solid lightpink;
    border-radius: 12px;
    transition: 0.7s;
    color: white;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: lightpink;
    transition: 0.4s;
    border: 5px solid lightblue;
    border-radius: 12px;
}


.heart {
    width: 100px;
    height: 160px;
    /* background-color: red; */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transform: rotate(-45deg);
    position: relative;
    border-color: transparent red transparent red red;
}

input:valid+p {
    display: none;
}

input:invalid+p {
    display: block;
}