.header_container {
  display: flex;
  justify-content: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 20px;
  z-index: 10000000000000000000;
}

.header a {
  font-size: 25px;
  font-weight: bold;
  position: relative;
}

.header a:nth-child(3) {
  font-size: 40px;
  margin-top: -15px;
}

.header a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  transition: 0.4s;
  border: none;
  outline: none;
}

.header a:hover::before {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: #ff6347;
}

.change_bg_color {
  background-color: rgb(19 80 88);
  transition: background-color 0.4s;
}

a.fav {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.favPart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favPart p {
  margin: 0 9px;
}

a.sign {
  position: absolute;
  left: 0;
  font-size: 18px;
}
