body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.outer {
    border: 2px solid black;
    width: 70%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    border: 5px solid lightpink;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}