body{
  background-color: #0090c3;
}
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 500px;
  border-radius: '10px';
}

.arrow {
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  background: white;
  color: #0090c3;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
